.button {
  background: var(--black);
  padding: 10px 15px;
  border: 1px solid;
  border-color: #48484a;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  cursor: pointer;
  color: rgba(var(--white), 0.8);
  transition: all 0.5s ease-in-out;
}
button:hover {
  transition: all 0.5s ease-in-out;

  background-color: #48484a;
}

@media screen and (max-width: 768px) {
  button {
    padding: 10px 10px !important;
  }
}
