body {
  font-family: "Roboto", sans-serif;
  background-color: var(--gray);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #111;
  --gray: #f2f2f2;
  --white: 255, 255, 255;
  --red: #f50e0e;
}

form {
  display: flex;
  align-items: center;
}
